// Default Theme Color Palette

// Red
$red-light: #ea999c;
$red-dark: #ac8a8c;

// Pink
$pink-light: #f4b8e4;
$pink-dark: #c49ea0;

// Purple
$purple-light: #ca9ee6;
$purple-dark: #a39ec4;

// Blue
$blue-light: #8caaee;
$blue-dark: #8a98ac;

// Teal
$teal-light: #81c8be;
$teal-dark: #8aacab;

// Green
$green-light: #a6d189;
$green-dark: #8aac8b;

// Yellow
$yellow-light: #e5c890;
$yellow-dark: #ceb188;

// Orange
$orange-light: #ef9f76;
$orange-dark: #c6a679;

$grey-050: #f0f0f0; // text
$grey-100: #e0e0e0; // subtext1
$grey-150: #d3d3d3; // interpolated between subtext1 and subtext0
$grey-200: #c6c6c6; // subtext0
$grey-250: #b7b7b7; // interpolated
$grey-300: #a8a8a8; // overlay2
$grey-350: #9c9c9c; // interpolated
$grey-400: #a8a8a8; // overlay1
$grey-450: #8d8d8d; // interpolated
$grey-500: #6f6f6f; // overlay0
$grey-550: #525252; // interpolated
$grey-600: #393939; // surface2
$grey-650: #262626; // interpolated
$grey-700: #161616; // surface1 BASEE
$grey-750: #0b0b0b; //
$grey-800: #262626; // surface0
$grey-850: #1c1c1c; //
$grey-900: #0b0b0b; // mantle
$grey-950: #000000; // crust

// White
$white: #f0f0f0;

// Black
$black: #161616;

// Button
$button-close: #ac8a8c;
$button-max: #8aac8b;
$button-min: #c6a679;

// Link
$links: $blue-dark;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
